{% extends "static/base.html" %}
{% block title %} User Registered successfully {% endblock %}
{% block header_title %}
<h2><i class="fa fa-check"></i>
    User Registered</h2>
{% endblock header_title %}
{% block body %}
<div class="page-header">
    <h1>User Registered Successfully!</h1>
</div><!--page-header-->
<div class="row">
    <div class="col-md-9">
        <div class="alert alert-success">
            You have been successfully registered. Please check your mail (inbox/spam) for the confirmation message
        </div><!--alert alert-success-->
    </div><!--col-md-9-->
</div><!--row-->
{% endblock %}
